@media screen and (max-width: 767px) {
    img {
        height: 0px;
        visibility: hidden;
    }
}
#loader {
    margin: 0 auto;
    min-width: 60px;
    min-height: 60px;
    margin: 70px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
}

.infoM {
    padding: 10px;
    margin-top: 10px;
}

.card {
    vertical-align: top;
    display: inline-block;
    min-width: 200px;
    padding: 10px;
    margin: 10px;
}

.card-subtitle {
    margin: 0 auto;
}

h5 {
    max-height: 50px;
    overflow: hidden;
}

.form-group {
    float: right;
}

.custom-control-label {
    margin: .5rem 1rem;
}

.name {
    border-bottom: 2px solid #000;
    overflow: hidden;
    padding: 5px;
    padding-left: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}

img {
    float: right;
    width: 25%;
}

content {}